Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a = "string"
b = [1,2,3]
c = 13.06
d=(1,2,3)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [4]:
var1 = ''
var2 = '[DS,ML,Python]'
var3 = ['DS','ML','python']
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [5]:
# / used for division
print(4/8)

# % used for reminder
print(4%3)

# // used for quotient
print(4//3)

# ** used for power

print(4**3)

0.5
1
1
64

Q4 . Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [6]:
l = [1,"one",1.0,True,2,False,'pink',"yes",56.223,(12,35)]
print(len(l))

10

In [7]:
for i in l:
    print(i,type(i))

1 <class 'int'>
one <class 'str'>
1.0 <class 'float'>
True <class 'bool'>
2 <class 'int'>
False <class 'bool'>
pink <class 'str'>
yes <class 'str'>
56.223 <class 'float'>
(12, 35) <class 'tuple'>

Q5 . Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [8]:
A = int(input())
B = int(input())
if A%B==0:
    print("A is divisible by B",A//B,"times")

 15
 5

A is divisible by B 3 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [13]:
l = [i for i in range(1,26)]
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [16]:
for i in l:
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [17]:
#Mutable data types are changable like lists
l = [5,6,7,8]
l

[5, 6, 7, 8]

In [19]:
l[2] = 15
l

[5, 6, 15, 8]

In [21]:
#Immutable data types are not changable like strings
s = "string"
s[2] = "a"
s
#we get error

TypeError: 'str' object does not support item assignment